<div class="row">
  <div class="col-xs-12 col-md-4">
    <h1 class="name">Leonardo Camp</h1>
    <% @posts.each do |p| %>
      <h1># <%= link_to p.title, show_post_path(p.title) %></h1>
    <% end %>

  </div>

  <div class="col-xs-12 col-md-8">
    <h1>
      <%= @post.title %>
    </h1>
    <p class="right">
      <%= link_to "Editar", edit_post_path(@post.id) if current_user %> -
      <%= link_to "Excluir", delete_post_path(@post.id) if current_user %>
    </p>
    <pre><%= @post.text %></pre>
    
    <h4>Gostou? Deixe um comentário</h4><br>

    <%= render "new_comment" %>

    <% @comments.each do |c| %>
      <div class="comment">
        <b><%= c.name %></b>
        <small><p>
          <%= c.comment %>
        </p></small>
        <%= link_to "Excluir", delete_comment_path(c.id), class: "right" if current_user %>
      </div>
    <% end %>    

  </div>
</div>
