<div class="row">
  <div class="col-xs-12 col-md-4">
    <h1 class="name">Leonardo Camp</h1>
    <% @posts.each do |post| %>
      <h1># <%= link_to post.title, post_path(post) %></h1>
    <% end %>

  </div>

  <div class="col-xs-12 col-md-8">
    <h1>
      <%= @post.title %>
    </h1>
    <p class="right">
      <%= link_to "Editar", edit_post_path(@post) if current_user %> -
      <%= link_to "Excluir", destroy_post_path(@post), method: :delete if current_user %>
    </p>
    <pre><%= @post.text %></pre>
    
    <h4>Gostou? Deixe um comentário</h4><br>

    <%= render "new_comment" %>

    <% @post.comments.each do |c| %>
      <div class="comment">
        <%= content_tag :strong, c.name %>
        <%= content_tag :p, c.comment %>
        <%= content_tag :p %>
        <%= link_to "Excluir", destroy_comment_path(c.id), method: :delete, class: "right" if current_user %>
      </div>
    <% end %>    

  </div>
</div>
