<h1>Bem-vindo ao Blog</h1>

<div class="row">
  <div class="col-xs-12 col-md-5">

    <% @posts.each do |p| %>
      <h1># <%= link_to p.title, show_post_path(p.title) %></h1>
    <% end %>

  </div>

  <div class="col-xs-12 col-md-7">
    <h1>
      <%= @post.title %>
    </h1>
    <p>
      <%= @post.text %>
    </p>

    <%= simple_form_for @new_comment, url: show_post_path(@post.title), class: "new-comment" do |p| %>
      <%= p.input :name, label: "Nome", class: "comment-name" %>
      <%= p.input :comment, label: "Comentário", class: "comment-name" %>

      <%= p.submit "Criar comentário", class: "comment-input btn btn-default" %>
    <% end %>

    <% @comments.each do |c| %>
      <div class="comment">
        <b><%= c.name %></b>
        <small><p>
          <%= c.comment %>
        </p></small>
      </div>
    <% end %>    

  </div>
</div>
